#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use text install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=fedora21.vagrantup.com
#Root password
rootpw vagrant
# System timezone
timezone UTC --isUtc
user --groups=wheel --name=vagrant --password=vagrant --plaintext --gecos="vagrant"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda --append="norhgb"
autopart --type=btrfs
# Partition clearing information
clearpart --none --initlabel

# reboot after installation completes
reboot

%packages --excludedocs
@core --nodefaults
-linux-firmware
openssh
tar
bzip2
gcc
kernel-devel
kernel-headers
wget
nfs-utils
%end

%post
# allow vagrant-sudo without password
cat > /etc/sudoers.d/vagrant <<EOF
Defaults:vagrant !requiretty
%vagrant ALL=(ALL) NOPASSWD: ALL
EOF
%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end
